<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AlarmMapper">
 	
 	
	<resultMap id="alarmSelectMap" type="alarm">
		<result property="alarmNo" 					column="alarm_no" 				jdbcType="NUMERIC"/>
  		<result property="alarmTarget" 				column="alarm_target" 				jdbcType="VARCHAR"/>
  		<result property="alarmContent" 			column="alarm_content"				jdbcType="VARCHAR"/>
  		<result property="alarmStatus" 			column="alarm_status"				jdbcType="VARCHAR"/>
  		<result property="alarmDate" 				column="alarm_date" 				jdbcType="DATE"/>
	</resultMap>
	
	
	<!-- SQL : INSERT -->
	<insert 	id="addAlarm"		parameterType="alarm" >
	 	INSERT
		INTO alarm 
		VALUES (seq_alarm_alarm_no.NEXTVAL, 
				#{alarmTarget}, 
				#{alarmContent}, 
				'001', 
				SYSDATE)
	 </insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getAlarm"	parameterType="String"	resultMap="alarmSelectMap">
		SELECT * 
		FROM alarm
		WHERE alarm_target = #{userId}
	 </select>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getAlarmCount"	parameterType="String"	resultType="int">
		SELECT COUNT(*)
	  	FROM(	SELECT * 
						FROM alarm WHERE alarm_target = #{userId}) countTable	
	 </select>
	  
		 
	 <!-- SQL : SELECT LIST -->
	<select  id="getAlarmList"  parameterType="map"	resultMap="alarmSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT * 
											FROM alarm
												<where>
													alarm_target = #{userId}
													</where>
											ORDER BY alarm_no DESC ) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	 </select>
	 
	 <update 	id="updateAlarmStatus"  parameterType="alarm">
		UPDATE alarm
		<set>
		alarm_status = '002'
		</set>
		<where>
		alarm_target = #{alarmTarget}
		</where>
	</update>
	
	<!-- SQL : SELECT ONE -->
	 <select 	id="getStatusCount"	parameterType="String"	resultType="int">
		SELECT COUNT(*)
	  	FROM(	SELECT * 
						FROM alarm WHERE alarm_target = #{userId} AND alarm_status = '001') countTable	
	 </select>
	 
	 
	 <!-- 알람 삭제 -->	
	 <select  id="deleteALarm"  parameterType="String">
	  	DELETE FROM alarm
	  	<where>
			alarm_target= #{alarmTarget}
		</where>		
	 </select>
	 	
	 
</mapper>