<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BookmarkMapper">
 	
 	
	<resultMap id="bookmarkSelectMap" type="bookmark">
		<result property="bookmarkNo" 			column="bookmark_no" 			jdbcType="NUMERIC"/>
		<result property="userId" 	column="user_id" 		jdbcType="VARCHAR" />
		<result property="bookmarkStatus" 	column="bookmark_status" 		jdbcType="VARCHAR" />
		<collection property="recipe" resultMap="recipeSelectMap"/>
	</resultMap>
	
<resultMap   id="recipeSelectMap"  type="recipe">
		<result property="recipeNo" 			column="recipe_no" 			jdbcType="NUMERIC"/>
		<result property="writer.userNickname"      column="writer_nickname"           jdbcType="VARCHAR"/>
		<result property="recipeName"			column="recipe_name" 		jdbcType="VARCHAR" />
		<result property="recipeDetail" 	column="recipe_detail" 		jdbcType="VARCHAR" />
		<result property="detail" 	column="detail" 		jdbcType="VARCHAR" />
		<result property="recipeImg" 			column="recipe_img" 		jdbcType="VARCHAR" />
		<result property="recipeVideo" 			column="recipe_video" 		jdbcType="VARCHAR" />
		<result property="recipeDifficulty" 				column="recipe_difficulty" 					jdbcType="VARCHAR" />
		<result property="recipeTheme"      column="recipe_theme"           jdbcType="VARCHAR"/>
		<result property="cookingTime"      column="cooking_time"           jdbcType="NUMERIC"/>
		<result property="recipeOrder"      column="recipe_order"            jdbcType="CLOB" javaType="java.lang.String" />
		<result property="recipeRegDate" 				column="recipe_regdate" 					jdbcType="DATE" />
		<result property="reviewNum"      column="review_num"           jdbcType="NUMERIC"/>
		<result property="ingredientNo"      column="ingredient_no"           jdbcType="NUMERIC"/>
		<result property="ingredientName"      column="ingredient_name"           jdbcType="VARCHAR"/>
		<result property="ingredientAmount"      column="ingredient_amount"           jdbcType="VARCHAR"/>
		<result property="recipeViews"      column="recipe_views"           jdbcType="NUMERIC"/>
	</resultMap>
	
	
	<!-- SQL : INSERT -->
	<insert 	id="addBookmark"		parameterType="map" >
	 	INSERT
		INTO bookmark( bookmark_no , recipe_no,user_id) 
		VALUES	 (	seq_bookmark_no.nextval  ,  #{recipeNo},#{userId})
	 </insert>
	 
	 
	 <delete id="deleteBookmark" parameterType="map" >
	 DELETE
	 FROM bookmark 
	 WHERE recipe_no= #{recipeNo}
	 and user_id=#{userId} 
	 </delete>
	 
	 <!-- 게시글 추천 중복방지 select문 -->
	<select id="checkDuplicate" resultType="int">
	select count(*) from bookmark
	 where recipe_no = #{recipeNo} and user_id = #{userId} 
	</select>

	 
	<select  id="getBookmarkList"  parameterType="map"	statementType="CALLABLE"  resultMap="bookmarkSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	
	  	select b.bookmark_No, b.user_Id,b.recipe_no brecipe_no, r.*
		from bookmark b,  recipe r
		where 
		r.recipe_no=b.recipe_no
		and b.user_id=#{userId}
		 ) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} ) c
		WHERE c.row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	 </select>
	 
	 <select  id="getTotalCount"  parameterType="map"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	select b.*,r.*
		from bookmark b,  recipe r
		where 
		r.recipe_no=b.recipe_no
		and b.user_id=#{userId}
						) countTable
	 </select>
	 
</mapper>