<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CartMapper">
 	
 	
	<resultMap id="CartSelectMap" type="cart">
		<result property="cartNo" 				column="cart_no" 				jdbcType="NUMERIC"/>
		<result property="prodNo"	   			column="prod_no" 				jdbcType="NUMERIC" />
		<result property="price"	   			column="prod_price" 			jdbcType="NUMERIC" />
		<result property="prodName"	   			column="prod_name" 				jdbcType="VARCHAR" />
		<result property="fileName" 			column="prod_image" 			jdbcType="VARCHAR" />
		<result property="userId" 				column="user_id" 				jdbcType="VARCHAR" />
		<result property="quantity" 			column="quantity" 				jdbcType="NUMERIC" />
	</resultMap>	
	
	
	<!-- SQL : INSERT -->
	<insert 	id="addCart"		parameterType="cart" >
		INSERT
		INTO cart( cart_no , prod_no, prod_price, prod_name, prod_image, user_id, quantity) 
	 	VALUES (seq_cart_cart_no.NEXTVAL , #{prodNo}, #{price}, #{prodName}, #{fileName}, #{userId}, #{quantity})
	 </insert>
	 
	 	 
	 <!-- SQL : SELECT -->
	  <select 	id="getCart"	parameterType="int"	resultMap="CartSelectMap">
		SELECT * 	
		FROM cart
		WHERE cart_no = #{cartNo}
	 </select>
	 
	 
	 <!-- SQL : SELECT -->
	 <select 	id="getCartList"	parameterType="string"	resultMap="CartSelectMap">
		SELECT *
		FROM cart
		WHERE user_id = #{value}
		ORDER BY cart_no DESC
	 </select>
	 
	 
	 <!-- SQL : UPDATE Stock -->
	 <update	id="updateCart"	parameterType="cart" >
	   		UPDATE cart
	   	<set>
	   		quantity = #{quantity}
	   	</set>
	   		WHERE cart_no = #{cartNo}
	 </update>
	 
	 <!-- SQL : DELETE -->
	 <delete	id="deleteCart"	parameterType="int" >
	   	DELETE
	   	FROM cart
	   	WHERE cart_no = #{cartNo}
	 </delete>

	 
</mapper>