<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CouponMapper">
 	
	<resultMap id="couponSelectMap" type="coupon">
		<result property="couponNo" 			column="coupon_no" 			jdbcType="INTEGER"/>
		<result property="couponStatus"		column="coupon_status" 		jdbcType="VARCHAR" />
		<result property="couponName"		column="coupon_name" 		jdbcType="VARCHAR" />
		<result property="discountRate" 	column="discount_rate" 		jdbcType="DOUBLE" />
		<result property="discountValue" 	column="discount_value" 		jdbcType="INTEGER" />
		<result property="startDate" 			column="start_date" 		jdbcType="DATE" />
		<result property="endDate" 		column="end_date" 			jdbcType="DATE" />
		<result property="couponRegDate" 		column="coupon_regdate" 			jdbcType="DATE"/>
		
	<association property="couponUser"  javaType="user">
			<id property="userId" column="holder_id" jdbcType="VARCHAR"/>
	</association>	
		
	</resultMap>
	
	
	<!-- 쿠폰생성 -->
	<insert 	id="addCoupon"		parameterType="coupon">
		INSERT
		INTO coupon (coupon_no, coupon_name, discount_rate, discount_value, coupon_regdate) 
		VALUES (seq_coupon_coupon_no.NEXTVAL, #{couponName:VARCHAR}, #{discountRate:DOUBLE}, #{discountValue:INTEGER}, SYSDATE)
	 </insert>
	 
	<!-- 쿠폰 리스트 -->
	<select  id="getCouponList"		parameterType="search"		resultMap="couponSelectMap">
	  	SELECT *
	  	FROM ( SELECT inner_table.* , ROWNUM AS row_seq
				FROM ( SELECT coupon_no, coupon_name, discount_rate, discount_value FROM coupon ORDER BY coupon_no DESC) inner_table
				WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>

	<!-- 쿠폰 개수 -->	 
	 <select  id="getTotalCount"		parameterType="search"		resultType="int">
	  	SELECT COUNT(*)
	  	FROM ( SELECT coupon_no, coupon_name, discount_rate, discount_value	FROM coupon) countTable						
	 </select>
	 
	 <!-- 쿠폰검색 -->
 	<select 	id="findCoupon"		parameterType="string"		resultMap="couponSelectMap">
		SELECT * FROM coupon
  	</select>
  	  		   	
	<!-- 쿠폰 삭제 -->	
	<select  id="deleteCoupon"		parameterType="int">
	 	DELETE
	 	FROM coupon
	  	WHERE coupon_no= #{couponNo}		
	</select>
 
</mapper>