<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CouponHolderMapper">
 	
 	
	<resultMap id="couponSelectMap" type="coupon">
		<result property="issueNo" 			column="issue_no" 			jdbcType="INTEGER"/>
		<result property="couponNo" 			column="coupon_no" 			jdbcType="INTEGER"/>
		<result property="couponStatus"		column="coupon_status" 		jdbcType="VARCHAR" />
		<result property="issueStatus"		column="issue_status" 		jdbcType="VARCHAR" />
		<result property="couponName"		column="coupon_name" 		jdbcType="VARCHAR" />
		<result property="discountRate" 	column="discount_rate" 		jdbcType="DOUBLE" />
		<result property="discountValue" 	column="discount_value" 		jdbcType="INTEGER" />
		<result property="startDate" 			column="start_date" 		jdbcType="DATE" />
		<result property="endDate" 		column="end_date" 			jdbcType="DATE" />
		
	<association property="couponUser"  javaType="user">
			<id property="userId" column="holder_id" jdbcType="VARCHAR"/>
	</association>	
		
	</resultMap>
	
	
	<!-- SQL : INSERT -->
	<insert 	id="issueCoupon"		parameterType="coupon">
		INSERT
		INTO couponholder(issue_no, coupon_no, holder_id, start_date, end_date, issue_status) 
		VALUES	 (seq_couponhodler_issue_no.NEXTVAL, #{couponNo:INTEGER}, #{couponUser.userId:VARCHAR}, 
		#{startDate:DATE}, #{endDate:DATE}, #{issueStatus:VARCHAR})
	 </insert>
	 
	 
	 <select 	id="findIssuedCoupon" 	parameterType="int"	 resultMap="couponSelectMap">
		SELECT * FROM couponholder
		<where>
		issue_no = #{issueNo}
		</where>
  	 </select>
	 
	 
	 <select 	id="findUsableCoupon" 	parameterType="string"	 resultMap="couponSelectMap">
		SELECT h.*, c.coupon_name
 		FROM couponholder h, coupon c
		<where>
		h.coupon_no = c.coupon_no AND h.holder_id = #{userId} AND h.issue_status = '001' AND h.end_date > TO_CHAR(SYSDATE, 'YYYYMMDD')
		</where>
  	 </select>
  	 
	<update 	id="updateIssueStatus"  parameterType="coupon">
		UPDATE couponholder
		<set>
		issue_status = #{issueStatus}
		</set>
		<where>
		issue_no = #{issueNo}
		</where>
	</update>
	
	<!-- SQL : SELECT LIST -->
	<select  id="getMyCouponList"  parameterType="map"	resultMap="couponSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT h.*, c.coupon_name
 										FROM couponholder h, coupon c
 										WHERE h.coupon_no = c.coupon_no AND h.holder_id = #{userId} AND h.issue_status = '001' AND h.end_date > TO_CHAR(SYSDATE, 'YYYYMMDD')
 										) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	 </select>
	 
	 <!-- SQL : SELECT ROW Count -->	 
	 <select  id="getMyCouponCount"  parameterType="String"	 resultType="int">
	 SELECT COUNT(*)
	  	FROM( SELECT h.*, c.coupon_name
 										FROM couponholder h, coupon c
 										WHERE h.coupon_no = c.coupon_no AND h.holder_id = #{userId} AND h.issue_status = '001' AND h.end_date > TO_CHAR(SYSDATE, 'YYYYMMDD')
 										) countTable					
	 </select>
	 
	
	<!-- SQL : SELECT LIST -->
	<select  id="getIssuedCouponList"  parameterType="search"	resultMap="couponSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT h.*, c.coupon_name
 										FROM couponholder h, coupon c
 										WHERE h.coupon_no = c.coupon_no
 										<if test="orderCondition == null">
											ORDER BY h.issue_no DESC
										</if>
										<if test="orderCondition != null">
											<choose>
												<when test="orderCondition == 0">
													ORDER BY h.issue_no DESC 
												</when>
												<when test="orderCondition == 1">
													AND NVL(h.issue_status,'000')='001' 
													ORDER BY h.issue_no DESC 
												</when>
												<when test="orderCondition == 2">
													AND NVL(h.issue_status,'000')='002' 
													ORDER BY h.issue_no DESC 
												</when>
												<otherwise>
													AND NVL(h.issue_status,'000')='003' 
													 ORDER BY h.issue_no DESC 
												</otherwise>
											</choose>
										</if>
 										) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	
	<!-- 
	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT issue_no, coupon_no, holder_id, start_date, end_date, issue_status
						FROM couponholder) countTable						
	 </select>
	  -->
	 
	 <!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	 SELECT COUNT(*)
	  	FROM( SELECT h.*, c.coupon_name
 										FROM couponholder h, coupon c
 										WHERE h.coupon_no = c.coupon_no
 										<if test="orderCondition == null">
											ORDER BY h.issue_no DESC
										</if>
										<if test="orderCondition != null">
											<choose>
												<when test="orderCondition == 0">
													ORDER BY h.issue_no DESC 
												</when>
												<when test="orderCondition == 1">
													AND NVL(h.issue_status,'000')='001' 
													ORDER BY h.issue_no DESC 
												</when>
												<when test="orderCondition == 2">
													AND NVL(h.issue_status,'000')='002' 
													ORDER BY h.issue_no DESC 
												</when>
												<otherwise>
													AND NVL(h.issue_status,'000')='003' 
													 ORDER BY h.issue_no DESC 
												</otherwise>
											</choose>
										</if>
 										) countTable					
	 </select>

</mapper>