<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="IngredientMapper">
 	
 	
		<resultMap id="recipeSelectMap" type="recipe">
		<result property="recipeNo" 			column="recipe_no" 			jdbcType="NUMERIC"/>
		<result property="writer.userNickname" 				column="writer_nickname" 					jdbcType="VARCHAR" />
		<result property="recipeName"			column="recipe_name" 		jdbcType="VARCHAR" />
		<result property="recipeDetail" 	column="recipe_detail" 		jdbcType="VARCHAR" />
		<result property="detail" 	column="detail" 		jdbcType="VARCHAR" />
		<result property="recipeImg" 			column="recipe_img" 		jdbcType="VARCHAR" />
		<result property="recipeVideo" 			column="recipe_video" 		jdbcType="VARCHAR" />
		<result property="recipeDifficulty" 				column="recipe_difficulty" 					jdbcType="VARCHAR" />
		<result property="recipeTheme"      column="recipe_theme"           jdbcType="VARCHAR"/>
		<result property="cookingTime"      column="cooking_time"           jdbcType="NUMERIC"/>
		<result property="recipeOrder"      column="recipe_order"            jdbcType="CLOB" javaType="java.lang.String" />
		<result property="recipeRegDate" 				column="recipe_regdate" 					jdbcType="DATE" />
		<result property="reviewNum"      column="review_num"           jdbcType="NUMERIC"/>
		<result property="ingredientNo"      column="ingredient_no"           jdbcType="NUMERIC"/>
		<result property="ingredientName"      column="ingredient_name"           jdbcType="VARCHAR"/>
		<result property="ingredientAmount"      column="ingredient_amount"           jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert id="addIngredient" parameterType="java.util.Map">
	  	insert 
        into ingredient(ingredient_no,ingredient_name, ingredient_amount, recipe_no)
        select seq_ingredient_no.nextval, a.ingredientName,a.ingredientAmount, (select nvl(max(recipe_no),0) from recipe )
        from(
        <foreach collection="list" item="item" separator="UNION ALL ">
        SELECT #{item.ingredientName} AS ingredientName , #{item.ingredientAmount} AS ingredientAmount FROM DUAL
        </foreach>
        ) A
	 </insert>
	 
	 
	 <update id="updateIngredient" parameterType="java.util.Map">
		update ingredient
		set
		ingredient_name=
		case ingredient_no
        <foreach collection="list" item="item" separator=" " >
		when  #{item.ingredientNo} then #{item.ingredientName}
        </foreach>
        else ingredient_name end
        ,
        ingredient_amount=
        case ingredient_no
        <foreach collection="list" item="item" separator=" " >
        when #{item.ingredientNo} then #{item.ingredientAmount}
        </foreach>
        else ingredient_amount end
        where recipe_no=#{recipeNo}
	 </update>
	
	<!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalCount"  parameterType="map"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT ingredient_no 
						FROM ingredient
														order by ingredient_no
													) countTable						
	 </select>
	 
	 
</mapper>