<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="KakaoMapper">


<resultMap id="userSelectMap" type="user">
		<result property="userId" 	column="user_id" 		jdbcType="VARCHAR"/>
		<result property="userName"	column="user_name" 		jdbcType="VARCHAR" />
		<result property="password" 	column="password" 		jdbcType="VARCHAR" />
		<result property="userBirth" 	column="user_birth" 		jdbcType="VARCHAR" />
		<result property="userNickname" 	column="user_nickname" 		jdbcType="VARCHAR" />
		<result property="userImage" 	column="user_image" 		jdbcType="VARCHAR" />
		<result property="addr" 	column="user_addr" 		jdbcType="VARCHAR" />
		<result property="role" 	column="role" 			jdbcType="VARCHAR" />
		<result property="phone" 	column="user_phone" 		jdbcType="VARCHAR" />
		<result property="holdpoint" 	column="holdpoint" 		jdbcType="NUMERIC" />
		<result property="mentorApply" 	column="mentor_apply" 		jdbcType="VARCHAR"  />
		<result property="loginPath" 	column="login_path" 		jdbcType="VARCHAR"  />
		<result property="regDate" 	column="user_regdate" 		jdbcType="DATE" />
		<result property="quitDate" 	column="quit_date" 		jdbcType="DATE" />
		<result property="quitStatus" 	column="quit_status" 		jdbcType="VARCHAR"  />
		
</resultMap>


	<insert  id="addKakaoUser"		parameterType="user" >
		 INSERT
		 INTO users( user_id , user_name , password , user_birth , user_nickname , user_image , user_addr , user_phone , mentor_apply , login_path , user_regdate , quit_date ) 
		 VALUES	 ( #{userId} , #{userName} , #{password} , #{userBirth}, #{userNickname}, #{userImage}, #{addr}, #{phone}, 
						#{mentorApply}, #{loginPath}, SYSDATE , #{quitDate:DATE} )
	</insert>









</mapper>