<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReviewMapper">
 	
 	
	<resultMap id="reviewSelectMap" type="review">
		<result property="reviewNo" 			column="review_no" 			jdbcType="NUMERIC"/>
		<result property="reviewCategory" 			column="review_category" 			jdbcType="VARCHAR"/>
		<result property="writerNickname" 	column="writer_nickname" 		jdbcType="VARCHAR" />
		<result property="reviewContent" 	column="review_content" 		 jdbcType="VARCHAR"  />
		<result property="reviewImg" 			column="review_img" 			jdbcType="VARCHAR"/>
		<result property="reviewRegdate" 	column="review_regdate" 		jdbcType="DATE" />
		<result property="recipe.recipeNo" 			column="recipe_no" 			jdbcType="NUMERIC"/>
		<result property="product.prodNo" 			column="prod_no" 			jdbcType="NUMERIC"/>
		<result property="cook.cookNo" 			column="cook_no" 			jdbcType="NUMERIC"/>
	</resultMap>
	
		<resultMap id="cookSelectMap" type="cook">
	
		<result property="cookNo" 			column="cook_no" 			jdbcType="NUMERIC"/>
		<result property="cookName"			column="cook_name" 		jdbcType="VARCHAR" />
		<result property="cookFilename" 	column="cook_filename" 		jdbcType="VARCHAR" />
		<result property="cookBrief"      column="cook_brief"           jdbcType="VARCHAR"/>
		<result property="cookDifficuty" 				column="cook_difficuty" 					jdbcType="VARCHAR" />		
		<result property="cookPrice" 				column="cook_price" 					jdbcType="NUMERIC" />	
		<result property="cookTheme" 			column="cook_theme" 		jdbcType="VARCHAR" />
		<result property="aplstarTime"      column="apl_startime"           jdbcType="VARCHAR"/>
		<result property="aplendTime"      column="apl_endtime"           jdbcType="VARCHAR"/>	
		<result property="cookRecruit" 				column="cook_recruit" 					jdbcType="NUMERIC" />
		<result property="startTime"      column="start_time"           jdbcType="VARCHAR"/>		
		<result property="endTime"      column="end_time"           jdbcType="VARCHAR"/>		
		<result property="cookLocation"      column="cook_location"           jdbcType="VARCHAR"/>
		<result property="cookRegdate"      column="cook_regdate"           jdbcType="DATE"/>
		<result property="cookVideo"      column="cook_video"           jdbcType="VARCHAR"/>
		<result property="cookStock"      column="cook_stock"           jdbcType="NUMERIC"/>
		<result property="hearthit"      column="heart_hit"           jdbcType="NUMERIC"/>
		<result property="cookContent" 			column="cook_content" 			jdbcType="VARCHAR" />
		<result property="mentor.userNickname" 				column="mentor_nickname" 					jdbcType="VARCHAR" />
		
		
	</resultMap>
	
	<resultMap id="productSelectMap" type="product">
		<result property="prodNo" 				column="prod_no" 				jdbcType="NUMERIC"/>
		<result property="prodName"				column="prod_name" 				jdbcType="VARCHAR"/>
		<result property="prodThumbnail" 		column="prod_thumbnail" 		jdbcType="VARCHAR"/>
		<result property="prodContent" 			column="prod_content" 			jdbcType="CLOB" javaType="java.lang.String"/>
		<result property="prodDetail" 			column="prod_detail" 			jdbcType="VARCHAR"/>
		<result property="prodStock" 			column="prod_stock" 			jdbcType="NUMERIC"/>
		<result property="prodTheme" 			column="prod_theme" 			jdbcType="VARCHAR"/>
		<result property="prodPrice" 			column="prod_price" 			jdbcType="NUMERIC"/>
		<result property="prodDisRate" 			column="prod_disrate" 			jdbcType="NUMERIC"/>
		<result property="prodDisPrice" 		column="prod_disprice" 			jdbcType="NUMERIC"/>
		<result property="prodStatus" 			column="prod_status" 			jdbcType="VARCHAR"/>
		<result property="couponApply" 			column="coupon_apply" 			jdbcType="VARCHAR"/>
		<result property="prodRegDate" 			column="prod_regdate" 			jdbcType="DATE"/>
	</resultMap>
	<!-- SQL : INSERT -->
	<insert 	id="addReview"		parameterType="review" >
	 	INSERT
		INTO review 
		VALUES	 (	seq_review_no.nextval ,#{reviewCategory} ,#{writerNickname}, #{reviewContent},#{reviewImg},SYSDATE,#{recipe.recipeNo},#{product.prodNo},#{cook.cookNo},'100')		
	 </insert>
	 
	 
  
	  <!-- SQL : UPDATE -->
	 <update	id="updateReview"	parameterType="review" >
	   	UPDATE review
	   	<set>
	   		review_content 	= #{reviewContent},
	   		review_img=#{reviewImg}
	   	</set>
			WHERE review_no= #{reviewNo}
	 </update>
	 
	  <!-- SQL : UPDATE -->
	 <update	id="updatePurchaseStatus"	parameterType="int" >
	   	UPDATE purchase
	   	<set>
	   		review_status='002'
	   	</set>
			WHERE tran_no= #{textNo}
	 </update>
	 
	  <!-- SQL : UPDATE -->
	 <update	id="updateApplyStatus"	parameterType="int" >
	   	UPDATE apply
	   	<set>
	   		review_status='002'
	   	</set>
			WHERE apply_no= #{textNo}
	 </update>
	 
	 
	 <select  id="getReviewList"  parameterType="map"	resultMap="reviewSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	select *
	  					from review
	  					<if test="category !=null">
	  					<choose>
						<when test="category == PRD || category =='PRD' ">
	  					where prod_no=#{textNo}
	  					</when>
	  					<when test="category == REC || category =='REC' ">
	  					where recipe_no=#{textNo}
	  					</when>
	  					<when test="category == COOK || category =='COOK' ">
	  					where cook_no=#{textNo}
	  					</when>
	  					</choose>
	  					</if>
				 ) inner_table
											
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	 </select>
	 
	 
	 <select  id="getTotalCount"  parameterType="map"	 resultType="int">
	  SELECT COUNT(*)
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	select *
	  					from review
	  					<if test="category !=null">
	  					<choose>
						<when test="category == PRD || category =='PRD' ">
	  					where prod_no=#{textNo}
	  					</when>
	  					<when test="category == REC || category =='REC' ">
	  					where recipe_no=#{textNo}
	  					</when>
	  					<when test="category == COOK || category =='COOK' ">
	  					where cook_no=#{textNo}
	  					</when>
	  					</choose>
	  					</if>
	  					 ) inner_table
											
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
						
	 </select>
	 
	  <select  id="getMyReviewList"  parameterType="map"	resultMap="reviewSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	select *
	  					from review
	  					WHERE writer_nickname = #{writerNickname}
				 ) inner_table
											
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	 </select>
	 
	 
	 <select  id="getTotalMyCount"  parameterType="map"	 resultType="int">
	  SELECT COUNT(*)
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	select *
	  					from review
	  					WHERE writer_nickname = #{writerNickname}
				 ) inner_table
											
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
						
	 </select>
	 
	   <delete id="deleteReview" parameterType="int" >
	 DELETE
	 FROM review 
	 WHERE review_no= #{reviewNo} 
	 </delete>
	 
	 
	 
</mapper>