<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReviewMapper">
 	
 	
	<resultMap id="reviewSelectMap" type="review">
		<result property="reviewNo" 			column="review_no" 			jdbcType="NUMERIC"/>
		<result property="reviewCategory" 			column="review_category" 			jdbcType="VARCHAR"/>
		<result property="writerNickname" 	column="writer_nickname" 		jdbcType="VARCHAR" />
		<result property="reviewContent" 	column="review_content" 		 jdbcType="VARCHAR"  />
		<result property="reviewImg" 			column="review_img" 			jdbcType="VARCHAR"/>
		<result property="reviewRegdate" 	column="review_regdate" 		jdbcType="DATE" />
		<collection property="recipe" resultMap="recipeSelectMap"/>
		<collection property="product" resultMap="productSelectMap"/>
		<collection property="cook" resultMap="cookSelectMap"/>
	</resultMap>
	
	<resultMap id="recipeSelectMap" type="recipe">
		<result property="recipeNo" 			column="recipe_no" 			jdbcType="NUMERIC"/>
		<result property="writer.userNickname" 				column="writer_nickname" 					jdbcType="VARCHAR" />
		<result property="recipeName"			column="recipe_name" 		jdbcType="VARCHAR" />
		<result property="recipeDetail" 	column="recipe_detail" 		jdbcType="VARCHAR" />
		<result property="detail" 	column="detail" 		jdbcType="VARCHAR" />
		<result property="recipeImg" 			column="recipe_img" 		jdbcType="VARCHAR" />
		<result property="recipeVideo" 			column="recipe_video" 		jdbcType="VARCHAR" />
		<result property="recipeDifficulty" 				column="recipe_difficulty" 					jdbcType="VARCHAR" />
		<result property="recipeTheme"      column="recipe_theme"           jdbcType="VARCHAR"/>
		<result property="cookingTime"      column="cooking_time"           jdbcType="NUMERIC"/>
		<result property="recipeOrder"      column="recipe_order"            jdbcType="CLOB" javaType="java.lang.String" />
		<result property="recipeRegDate" 				column="recipe_regdate" 					jdbcType="DATE" />
		<result property="reviewNum"      column="review_num"           jdbcType="NUMERIC"/>
	</resultMap>
	
	<resultMap id="productSelectMap" type="product">
		<result property="prodNo" 				column="prod_no" 				jdbcType="NUMERIC"/>
		<result property="prodName"				column="prod_name" 				jdbcType="VARCHAR"/>
		<result property="prodThumbnail" 		column="prod_thumbnail" 		jdbcType="VARCHAR"/>
		<result property="prodContent" 			column="prod_content" 			jdbcType="CLOB" javaType="java.lang.String"/>
		<result property="prodDetail" 			column="prod_detail" 			jdbcType="VARCHAR"/>
		<result property="prodStock" 			column="prod_stock" 			jdbcType="NUMERIC"/>
		<result property="prodTheme" 			column="prod_theme" 			jdbcType="VARCHAR"/>
		<result property="prodPrice" 			column="prod_price" 			jdbcType="NUMERIC"/>
		<result property="prodDisRate" 			column="prod_disrate" 			jdbcType="NUMERIC"/>
		<result property="prodDisPrice" 		column="prod_disprice" 			jdbcType="NUMERIC"/>
		<result property="prodStatus" 			column="prod_status" 			jdbcType="VARCHAR"/>
		<result property="couponApply" 			column="coupon_apply" 			jdbcType="VARCHAR"/>
		<result property="prodRegDate" 			column="prod_regdate" 			jdbcType="DATE"/>
	</resultMap>
	
	<resultMap id="cookSelectMap" type="cook">
	
		<result property="cookNo" 			column="cook_no" 			jdbcType="NUMERIC"/>
		<result property="cookName"			column="cook_name" 		jdbcType="VARCHAR" />
		<result property="cookFilename" 	column="cook_filename" 		jdbcType="VARCHAR" />
		<result property="cookBrief"      column="cook_brief"           jdbcType="VARCHAR"/>
		<result property="cookDifficuty" 				column="cook_difficuty" 					jdbcType="VARCHAR" />		
		<result property="cookPrice" 				column="cook_price" 					jdbcType="NUMERIC" />	
		<result property="cookTheme" 			column="cook_theme" 		jdbcType="VARCHAR" />
		<result property="aplstarTime"      column="apl_startime"           jdbcType="VARCHAR"/>
		<result property="aplendTime"      column="apl_endtime"           jdbcType="VARCHAR"/>	
		<result property="cookRecruit" 				column="cook_recruit" 					jdbcType="NUMERIC" />
		<result property="startTime"      column="start_time"           jdbcType="VARCHAR"/>		
		<result property="endTime"      column="end_time"           jdbcType="VARCHAR"/>		
		<result property="cookLocation"      column="cook_location"           jdbcType="VARCHAR"/>
		<result property="cookRegdate"      column="cook_regdate"           jdbcType="DATE"/>
		<result property="cookVideo"      column="cook_video"           jdbcType="VARCHAR"/>
		<result property="cookStock"      column="cook_stock"           jdbcType="NUMERIC"/>
		<result property="hearthit"      column="heart_hit"           jdbcType="NUMERIC"/>
		<result property="cookContent" 			column="cook_content" 			jdbcType="VARCHAR" />
		<result property="mentor.userNickname" 				column="mentor_nickname" 					jdbcType="VARCHAR" />
		<result property="mentor.userId" 	column="mentor_id" 		jdbcType="VARCHAR"/>
		
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addReview"		parameterType="review" >
	 	INSERT
		INTO review 
		VALUES	 (	seq_review_no.nextval ,#{reviewCategory} ,#{writerNickname}, #{reviewContent},#{reviewImg},SYSDATE,#{recipe.recipeNo},#{product.prodNo},#{cook.cookNo},'100')		
	 </insert>
	 
	  <!-- SQL : SELECT -->
	  <select 	id="getReview"	parameterType="int"	resultMap="reviewSelectMap">
		SELECT * 	
		FROM review
		WHERE review_no = #{reviewNo}
	 </select>
  
	  <!-- SQL : UPDATE -->
	 <update	id="updateReview"	parameterType="review" >
	   	UPDATE review
	   	<set>
	   		review_content 	= #{reviewContent},
	   		review_img=#{reviewImg}
	   	</set>
			WHERE review_no= #{reviewNo}
	 </update>
	 
	  <!-- SQL : UPDATE -->
	 <update	id="updatePurchaseStatus"	parameterType="int" >
	   	UPDATE purchase
	   	<set>
	   		review_status='002'
	   	</set>
			WHERE tran_no= #{textNo}
	 </update>
	 
	  <!-- SQL : UPDATE -->
	 <update	id="updateApplyStatus"	parameterType="int" >
	   	UPDATE apply
	   	<set>
	   		review_status='002'
	   	</set>
			WHERE apply_no= #{textNo}
	 </update>
	 
	 
	 <select  id="getReviewList"  parameterType="map"	resultMap="reviewSelectMap">
	  select r.*,
	  					<if test="category !=null">
	  					<choose>
						<when test='category == "PRD"'>
						p.*
	  					from review r,product p
	  					where r.prod_no=p.prod_no
	  					and p.prod_no=#{textNo}
	  					</when>
						<when test='category == "REC"'>
						rec.*
	  					from review r,recipe rec
	  					where r.recipe_no=rec.recipe_no
	  					and r.recipe_no=#{textNo}
	  					</when>
						<when test='category == "COOK"'>
	  					c.*
	  					from review r,cook c
	  					where r.cook_no=c.cook_no
	  					and c.cook_no=#{textNo}
	  					</when>
	  					</choose>
	  					</if>
				
	 </select>
	 
	 
	 <select  id="getTotalCount"  parameterType="map"	 resultType="int">
	  SELECT COUNT(*)
	  					FROM		(	select r.*,
	  					<if test="category !=null">
	  					<choose>
						<when test='category == "PRD"'>
						p.*
	  					from review r,product p
	  					where r.prod_no=p.prod_no
	  					and p.prod_no=#{textNo}
	  					</when>
						<when test='category == "REC"'>
						rec.*
	  					from review r,recipe rec
	  					where r.recipe_no=rec.recipe_no
	  					and r.recipe_no=#{textNo}
	  					</when>
						<when test='category == "COOK"'>
	  					c.*
	  					from review r,cook c
	  					where r.cook_no=c.cook_no
	  					and c.cook_no=#{textNo}
	  					</when>
	  					</choose>
	  					</if>
				
	  					 ) countTable
						
	 </select>
	 
	  <select  id="getMyReviewList"  parameterType="map"	resultMap="reviewSelectMap">
	  	select *
	  					from review
	  					WHERE writer_nickname = #{writerNickname}
				 
	 </select>
	 
	 
	 <select  id="getTotalMyCount"  parameterType="map"	 resultType="int">
	  SELECT COUNT(*)
	  FROM		(	select *
	  					from review
	  					WHERE writer_nickname = #{writerNickname}
										 ) countTable		
						
	 </select>
	 
	   <delete id="deleteReview" parameterType="int" >
	 DELETE
	 FROM review 
	 WHERE review_no= #{reviewNo} 
	 </delete>
	 
	 
	 
</mapper>