<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SaleMapper">




	<resultMap id="saleSelectMap" type="sale">
		<result property="salesNo" 			column="sales_no" 			jdbcType="NUMERIC"/>
		<result property="applyNo" 			column="apply_no" 			jdbcType="NUMERIC"/>
		<result property="userId" 			column="user_id" 		jdbcType="VARCHAR" />
		<result property="cookPrice" 		column="cook_price" 		jdbcType="VARCHAR" />
		<result property="cookStatus" 			    column="cook_status" 			jdbcType="NUMERIC" />		
		<result property="checkDate" 				column="check_date" 			jdbcType="DATE"/>		
		
		

	</resultMap>	
	
	
	 <select 	id="getSale"	 resultMap="saleSelectMap">
		SELECT *
		FROM apply a, sales s 
		WHERE a.apply_no=s.apply_no 
		AND user_id = #{userId}
		AND check_date between DATE_SUB(NOW(), INTERVAL 7 DAY) and NOW() 
		ORDER BY check_date ;
	 </select>	

</mapper>