<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SearchMapper">
 	
 	
	<resultMap id="searchSelectMap" type="search">
		<result property="searchNo" 					column="search_no" 				jdbcType="NUMERIC"/>
  		<result property="searchKeyword" 				column="search_keyword" 				jdbcType="VARCHAR"/>
  		<result property="searchDate" 			column="search_date"				jdbcType="DATE"/>
	</resultMap>
	
	
	<!-- SQL : INSERT -->
	<insert 	id="addSearch"		parameterType="search" >
	 	INSERT
		INTO search 
		VALUES (seq_search_search_no.NEXTVAL, 
				#{searchKeyword}, 
				SYSDATE)
	 </insert>
	 
</mapper>