<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WishMapper">
 	
 	
	<resultMap id="wishSelectMap" type="wish">
	
		<result property="wishNo" 						column="wish_no" 				jdbcType="NUMERIC"/>
		<result property="wishCook.cookNo"	   			column="cook_no" 				jdbcType="NUMERIC" />
		<result property="cookStatus" 			   		column="cook_status" 			jdbcType="NUMERIC" />
		<result property="userId" 						column="user_id" 				jdbcType="VARCHAR" />
		<result property="wishCook.cookName"			column="cook_name" 				jdbcType="VARCHAR" />
		<result property="wishCook.cookFilename" 		column="cook_filename" 			jdbcType="VARCHAR" />
		<result property="wishCook.cookPrice" 			column="cook_price" 			jdbcType="VARCHAR" />
		
	</resultMap>
	

	

	 <insert 	id="addWish"		parameterType="wish" >
		INSERT 
	 	INTO wish(wish_no, cook_no, cook_status, user_Id, cook_price,cook_name,cook_filename) 
	 	values (
	 	seq_wish_wish_no.nextval,
	 	 #{wishCook.cookNo},
	 	 #{cookStatus},
	 	 #{userId},
	 	 #{wishCook.cookPrice},
	 	 #{wishCook.cookName},
	 	 #{wishCook.cookFilename}
	 	 )
	 </insert>
	 
	
	 <select 	id="getWish"	parameterType="string"	resultMap="wishSelectMap">
	 
		SELECT c.cook_name, c.cook_filename, c.cook_price, w.*
		FROM cook c, wish w 
		WHERE c.cook_no=w.cook_no 
		AND user_id = #{userId}
		ORDER BY wish_no DESC
		
	 </select>
	 
	 
	 <update	id="updateWish"	parameterType="map" >
	   		UPDATE wish
	   	<set>
	   		cook_status = #{cookStatus}
	   	</set>
	   		WHERE wish_no = #{wishNo}
	 </update>
	 
	
	 <delete	id="deleteWish"	parameterType="int" >
	   	DELETE
	   	FROM wish
	   	WHERE wish_no = #{wishNo}
	 </delete>
	 
	 <select 	id="getWishList"	parameterType="int"	resultMap="wishSelectMap">
		SELECT * 	
		FROM wish
		WHERE wish_no = #{wishNo}
	 </select>
	 
</mapper>